
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

body {
  margin: 0;
  background-color: #131722;
  color: #fff;
  font-family: 'Montserrat Alternates', sans-serif;

}


